<%= form_with model: user, class: 'col-4 d-flex flex-column justify-content-center m-auto' do |form| %>

  <% if user.errors.full_messages.any? %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group pb-3 pt-10">
    <%= form.text_field :username, placeholder: 'Имя пользователя', class: 'form-control', required: true%>
  </div>

  <div class="form-group pb-3">
    <%= form.email_field :email, placeholder: 'name@example.com', class: 'form-control', required: true%>
  </div>

  <div class="form-group pb-3">
    <%= form.password_field :password, placeholder: 'Пароль', class: 'form-control', required: true%>
  </div>

  <div class="form-group pb-3">
    <%= form.password_field :password_confirmation, placeholder: 'Подтверждение пароля', class: 'form-control' %>
  </div>

  <div class="form-group pt-3 pb-3 text-center">
      <%= form.submit 'Зарегистрироваться', class: 'btn btn-primary' %>
  </div>

  <p class="text-dark text-center pt-3">
    Уже есть аккаунт?
    <a class="text-link" href="/session/login">Войдите</a>
  </p>
<% end %>

