<% if user.errors.full_messages.any? %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: user do |form| %>

  <form class="">
    <div class="d-flex form-group-row align-center pb-3 w-50">
      <%= form.label :username, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :username, placeholder: 'Username', class: 'form-control', required: true%>
      </div>
    </div>

    <div class="d-flex form-group-row pb-3 w-50">
      <%= form.label :email, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.email_field :email, placeholder: 'name@example.com', class: 'form-control', required: true%>
      </div>
    </div>

    <div class="d-flex form-group-row pb-3 w-50">
      <%= form.label :password, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.password_field :password, placeholder: 'Password', class: 'form-control', required: true%>
      </div>
    </div>

    <div class="d-flex form-group-row pb-3 w-50">
      <%= form.label :password_confirmation, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.password_field :password_confirmation, placeholder: 'Repeat your password', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group-row pb-3 w-50">
      <div class="">
        <%= form.submit 'Зарегистрироваться', class: 'btn btn-primary' %>
      </div>
    </div>
  </form>

  <p class="text-dark">
    Уже есть аккаунт?
    <a class="text-link" href="/session/login">Войдите</a>
  </p>
      
    <%# <p>Уже есть аккаунт? <a href="/session/login">Войдите</a></p> %>
<% end %>
