<% provide :page_title, 'Регистрация' %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
    .container{
      padding-top: 30px;
    }
    .registration-label{
      padding-bottom: 16px;
      font-family: var(--bs-font-sans-serif);
      /* color: #0d6efd; */
    }
  </style>
  </head>

  <body class="container">
    
  <h1 class="text-center registration-label">Регистрация</h1>

    <%= render 'form', user: @user %>

  </body>
</html>

