<% provide :page_title, @user.username %>
<% currently_at 'Пользователи' %>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Created at:</strong>
  <time datetime="<%= @user.formatted_created_at %>">
    <%= @user.formatted_created_at %>
  </time>
</p>

<p>
  <strong>Last login at:</strong>
  <time datetime="<%= @user.last_login_at %>">
    <%= @user.last_login_at %>
  </time>
</p>

<%= link_to 'Редактировать', edit_user_path(@user) %> |
<%= link_to 'Назад', users_path %>
