<% provide :page_title, @user.username %>
<% currently_at 'Профиль' %>

<h1><%= @user.username %></h1><br/>

<p>
  <strong>Имя пользователя:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Электронная почта:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Пользователь зарегистрирован:</strong>
  <time datetime="<%= @user.formatted_created_at %>">
    <%= @user.formatted_created_at %>
  </time>
</p>

<p>
  <strong>Последний вход на сайт:</strong>
  <time datetime="<%= @user.last_login_at %>">
    <%= @user.last_login_at %>
  </time>
</p>

<%= link_to 'Редактировать', edit_user_path(@user) %>
<%= link_to 'Удалить аккаунт', @user, method: :delete, data: { confirm: 'Вы уверены?' } %>
