<%= form_with(model: palindrome) do |form| %>
  <% if palindrome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(palindrome.errors.count, "error") %> prohibited this palindrome from being saved:</h2>

      <ul>
        <% palindrome.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :input %>
    <%= form.text_field :input %>
  </div>

  <div class="field">
    <%= form.label :output %>
    <%= form.text_area :output %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
