<p id="notice"><%= notice %></p>

<h1>Palindromes</h1>

<table>
  <thead>
    <tr>
      <th>Input</th>
      <th>Output</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @palindromes.each do |palindrome| %>
      <tr>
        <td><%= palindrome.input %></td>
        <td><%= palindrome.output %></td>
        <td><%= link_to 'Show', palindrome %></td>
        <td><%= link_to 'Edit', edit_palindrome_path(palindrome) %></td>
        <td><%= link_to 'Destroy', palindrome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Palindrome', new_palindrome_path %>
